body {
    font-family: Arial, sans-serif;
    background: linear-gradient(105deg, #ffe4e1, #90ee90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 }
 form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
 }
 p {
    margin-bottom: 20px;
 }
 label {
    font-size: 16px;
    color: #333333;
 }
 select {
    width: 100%;
    height: 150px; /* Aumenta a altura da caixa de seleção */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 14px;
    background-color: #ffffff;
 }
 input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #5c5c5c; /* Fundo preto */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
 }
 input[type="button"]:hover {
    background-color: #333333; /* Fundo preto mais claro para o hover */
 }